div.hinji-visibility-time-scheduler p {
	margin-top: 0;
}
div.hinji-visibility-time-scheduler fieldset legend {
	padding: 0;
	font-weight: bold;
}
.customize-control .hinji-visibility-time-scheduler input {
	width: auto;
}
.customize-control .hinji-visibility-time-scheduler select {
	min-width: 0;
}